.spacer3 { 
    aspect-ratio: 1500/1000;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
  }
  
  .layer3 {
    background-image: url('../images/stacked-waves-haikei.svg');
  }
  