.spacer { 
  aspect-ratio: 1370/1000;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
}
.spacer2 { 
  aspect-ratio: 1500/1000;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
}

.layer1 {
  background-image: url('../images/wave.svg');
}


#root {
  background-color: #bf4578;
}



.womenCoding {
  width: 100%;
}

 h1 {
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 2px pink;
  font-size: 5rem;
  
}

.missionStatement {
  color:white;
  text-align:center;
  font-size: 2rem;
  margin-bottom: 30px;
  line-height: 2.55rem;
  margin-top: 2rem;
}

.title {
  margin-left:20px;
}

@media (max-width: 899px) {
  .title {
    margin-left: 100px;
  }
}

@media (max-width: 566px){
  h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  .womenCoding {
    margin-top: 47px;
  }
  .missionStatement{
    font-size: 1.5rem;
  }
  .title {
    margin-left: -30px
  }
}
