.spacer { 
  aspect-ratio: 960/550;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
}

.layer1 {
  background-image: url('../images/waves.svg');
}

#root {
  background-color: #bf4578;
}

.bottomSpacer {
  aspect-ratio: 960/550;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
}

.layer2 {
  background-image: url('../images/bottomWave.svg');
  
}
