.spacer { 
  aspect-ratio: 960/550;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
}

.layer1 {
  background-image: url('../images/waves.svg');
}

#root {
  background-color: #bf4578;
}

.bottomSpacer {
  aspect-ratio: 960/550;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
}

.layer2 {
  background-image: url('../images/bottomWave.svg');
  
}

 h1 {
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 2px pink;
  font-size: 5rem;
  
}

@media (max-width: 566px){
  h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
  }
}
